html{
    font-family: IBM Plex Mono;
}

.buttons {
    display: flex;
    justify-content: center;
    color: red
}

.dl_button {
    border-radius: 0%;
    border: 1px solid white;
    color: red;
    background-color: black;
}
